<% if user_signed_in? %>
<li class="nav-item dropdown">
<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
Account </a>
<div class="dropdown-menu" aria-labelledby="navbarDropdown"> 
<a class="dropdown-item" <%= link_to "Profile"%> </a> </a>
<a class="dropdown-item" <%= link_to "Settings" %> </a> </a>
<a class="dropdown-item"<%= link_to "Logout", destroy_user_session_path, :method => :delete %></a>
</div>
</li> 
<% else %>
<li class="nav-item dropdown">
<a class="nav-link" <%= link_to "Log in", signin_path %> </a>
</li>
<% end %> 