				<div class="col-lg-3 col-md-4 col-12">
					<div class="left-tab-links">
						<div class="nav nav-pills nav-stacked nav-tabs ui vertical menu fluid">
							<%= link_to "Home", root_path, class:"item user-tab cursor-pointer " %>
							<%= link_to "About", user_path, class:"item user-tab cursor-pointer" %>	
						</div>						
					</div>				
				</div>

